{% extends "myadmin/base.html" %}
{% block create_invoice %}active {% endblock create_invoice %}
{% block inlinestyle %}
{% load customtags %}
<style>
    tr:has(.form-check-input:checked){
        background-color: #fa743643; /* Change to your desired background color */
      }
</style>

{% endblock inlinestyle %}

{% block content %}
<!--begin::Content wrapper-->

<div class="d-flex flex-column flex-column-fluid">
                                            
    <!--begin::Toolbar-->
    <div id="kt_app_toolbar" class="app-toolbar  py-3 py-lg-6 " 
         
             >
    
                <!--begin::Toolbar container-->
            <div id="kt_app_toolbar_container" class="app-container  container-xxl d-flex flex-stack ">
                
        
    
    <!--begin::Page title-->
    <div  class="page-title d-flex flex-column justify-content-center flex-wrap me-3 ">
        <!--begin::Title-->
        <h1 class="page-heading d-flex text-gray-900 fw-bold fs-3 flex-column justify-content-center my-0">
            Create
                </h1>
        <!--end::Title-->
    
    
        </div>
    <!--end::Page title-->
    
            </div>
            <!--end::Toolbar container-->
        </div>
    <!--end::Toolbar-->                                        
                        
    <!--begin::Content-->
    <div id="kt_app_content" class="app-content  flex-column-fluid " >
        
               
            <!--begin::Content container-->
            <div id="kt_app_content_container" class="app-container  container-xxl ">
                <!--begin::Layout-->
    <div class="d-flex flex-column flex-lg-column">
        <!--begin::Content-->
        <div class="flex-lg-row-fluid mb-10 mb-lg-0 me-lg-4 me-xl-10">
            <!--begin::Card--> 
    <div class="card">     
        <!--begin::Card body-->
        <div class="card-body p-3">
            <!--begin::Form-->
            <form  action="{% url 'myadmin:create-booking-invoice' booking.booking_id %}" method="post" id="kt_invoice_form" target="_self">
                {% csrf_token %}
                <!--begin::Wrapper-->
                <div class="d-flex flex-column align-items-start flex-xxl-row">
                    
    
                    <!--begin::Input group-->
                    <div class="d-flex flex-center flex-equal fw-row text-nowrap order-1 order-xxl-2 me-4" data-bs-toggle="tooltip" data-bs-trigger="hover" title="Enter invoice number">
                        <span class="fs-2x fw-bold text-gray-800">Invoice #</span> 
                        <input type="text" class="form-control form-control-flush fw-bold text-muted fs-3 w-150px" value="{{invoice_number}}" name="invoice"/>
                        <input type="hidden" class="form-control form-control-flush fw-bold text-muted fs-3 w-125px" value="{{booking.booking_id}}" placehoder="..." name="bookid" />
                    </div>                
                    <!--end::Input group--> 
    
                   


                    
                </div>                
                <!--end::Top-->       
    
                <!--begin::Separator-->
                <div class="separator separator-dashed my-10"></div>
                <!--end::Separator-->         
    
                <!--begin::Wrapper-->
                <div class="mb-0">
                    <!--begin::Row-->
                    <div class="row gx-10 mb-5">
                        <!--begin::Col-->
                        <div class="col-lg-6">
                            <!--begin::Input group-->
            <div class="mb-5">
               <div class="mb-2">
                 <!--begin::Label-->
                 <label class="form-label fw-bold fs-6 text-gray-700">Country</label>
                 <!--end::Label-->
                 <!--begin::Input group-->
                 <div class="mb-5">
                    <input type="text" class="form-control form-control-solid" placeholder="Country" name="country" value="{{booking.travelcountry}}"/>
                </div>
                <!--end::Input group-->
     
                 <!--begin::Select-->           
                 <!-- <select name="currnecy" aria-label="Select a Timezone" data-control="select2" data-placeholder="Select currency" class="form-select form-select-solid">
                     <option value=""></option>
     
                                         <option data-kt-flag="flags/united-states.svg" value="USD"><b>USD</b>&nbsp;-&nbsp;USA dollar</option>
                                         <option data-kt-flag="flags/united-kingdom.svg" value="GBP"><b>GBP</b>&nbsp;-&nbsp;British pound</option>
                                         <option data-kt-flag="flags/australia.svg" value="AUD"><b>AUD</b>&nbsp;-&nbsp;Australian dollar</option>
                                         <option data-kt-flag="flags/japan.svg" value="JPY"><b>JPY</b>&nbsp;-&nbsp;Japanese yen</option>
                                         <option data-kt-flag="flags/sweden.svg" value="SEK"><b>SEK</b>&nbsp;-&nbsp;Swedish krona</option>
                                         <option data-kt-flag="flags/canada.svg" value="CAD"><b>CAD</b>&nbsp;-&nbsp;Canadian dollar</option>
                                         <option data-kt-flag="flags/switzerland.svg" value="CHF"><b>CHF</b>&nbsp;-&nbsp;Swiss franc</option>
                                 </select>             -->
                 <!--end::Select-->
               </div>

                <div>
                     <!--begin::Label-->
                <label class="form-label fw-bold fs-6 text-gray-700">Destinations</label>
                <!--end::Label-->
                    <select class="form-select form-select-sm form-select-solid" data-control="select2" data-close-on-select="false" data-placeholder="Select an option" data-allow-clear="true" multiple="multiple" name="destination">
                        {% for dest in booking.destinations|to_list:'-'  %}
                        <option  selected value="{{dest}}">{{dest}}</option>
                        {% endfor %}
                        

                    </select>
                </div>
            </div>
            <!--end::Input group-->
    
                            
                        </div>                
                        <!--end::Col--> 
    
                        <!--begin::Col-->
                        <div class="col-lg-6">
                            <label class="form-label fs-6 fw-bold text-gray-700 mb-3">Bill To</label>
    
                            <!--begin::Input group-->
                            <div class="mb-5">
                                <input type="text" class="form-control form-control-solid" name="package" placeholder="Packaage Name" {% if booking.package == 'personal' %} value="Personal" {% else %} value="{{booking.package}}{% endif %}"/>
                            </div>
                            <!--end::Input group-->

                            <!--begin::Input group-->
                            <div class="mb-5">
                                <input type="text" class="form-control form-control-solid" placeholder="Name" value="{{booking.lastname}} {{booking.firstname}}" name="customer"/>
                            </div>
                            <!--end::Input group-->
    
                            <div class="row row-cols-2">
                                <!--begin::Input group-->
                            <div class="mb-5">
                                <input type="text" class="form-control form-control-solid" placeholder="Email" value="{{booking.email}}" name="email"/>
                            </div>
                            <!--end::Input group-->

                            <!--begin::Input group-->
                            <div class="mb-5">
                                <input type="text" class="form-control form-control-solid" placeholder="Phone" value="{{booking.phone}}" name="phone"/>
                            </div>
                            <!--end::Input group-->
                            </div>
                            <div class="row">
                                <!--begin::Input group-->
                            <div class="mb-5 col">
                                <label for="">Adult</label>
                                <input type="text" class="form-control form-control-solid" placeholder="Phone" value="{{booking.adult}}"/>
                            </div>
                            <!--end::Input group-->
                            <!--begin::Input group-->
                            <div class="mb-5 col">
                                <label for="">Children</label>
                                <input type="text" class="form-control form-control-solid" placeholder="Phone" value="{{booking.children}}"/>
                            </div>
                            <!--end::Input group-->
                            <!--begin::Input group-->
                            <div class="mb-5 col">
                                <label for="">Duration (days)</label>
                                <input type="text" class="form-control form-control-solid" value="{{booking.duration}}"/>
                            </div>
                            <!--end::Input group-->

                            </div>

                            
    
                           
                        </div>                
                        <!--end::Col--> 
                    </div>                
                    <!--end::Row--> 
    
                    <!--begin::Table wrapper-->
                    <div class="table-responsive mb-10">
                         <!--begin::Table-->
                        <table class="table g-5 gs-0 mb-0 fw-bold text-gray-700" data-kt-element="items">
                            <!--begin::Table head-->
                            <thead>
                                <tr class="border-bottom fs-7 fw-bold text-gray-700 text-uppercase">
                                    <th class="min-w-300px w-475px">Item</th>
                                    <th class="min-w-100px w-100px">QTY</th>
                                    <th class="min-w-100px w-100px">Unit</th>
                                    <th class="min-w-150px w-150px">Price</th>
                                    <th class="min-w-100px w-150px text-end">Total</th>
                                    <th class="min-w-75px w-75px text-end">Action</th>
                                </tr>
                            </thead>
                            <!--end::Table head-->
    
                            <!--begin::Table body-->
                            <tbody>
                                {% for each in booking.service|to_list:'-'  %}
                                <tr class="border-bottom border-bottom-dashed" data-kt-element="item">
                                    
                                    <td class="pe-7">                                    
                                        <input type="text" class="form-control form-control-solid mb-2" name="name[]" placeholder="Item name" value="{{each}}"/>
                                                            </td>
    
                                    <td class="ps-0">                                            
                                        <input type="text" class="form-control form-control-solid" type="number" min="1" name="quantity[]" placeholder="1" value="1" data-kt-element="quantity"/>
                                    </td>
                                    <td class="ps-0">                                            
                                        <input type="text" class="form-control form-control-solid" type="text"  name="unit[]" placeholder="unit" value="" data-kt-element="unit"/>
                                    </td>
    
                                    <td>   
                                        <input type="text" class="form-control form-control-solid text-end" name="price[]" placeholder="0.00" value="0.00" data-kt-element="price"/>
                                    </td>
                                    
                                    <td class="pt-8 text-end text-nowrap">
                                        $<span data-kt-element="total">0.00</span>
                                    </td>
    
                                    <td class="pt-5 text-end">
                                        <button type="button" class="btn btn-sm btn-icon btn-active-color-primary" data-kt-element="remove-item">
                                            <i class="ki-duotone ki-trash fs-3"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span></i>                                    </button>                             
                                    </td>
                                </tr>

                                {% empty %}
                                <tr class="border-bottom border-bottom-dashed" data-kt-element="item">
                                    
                                    <td class="pe-7">                                    
                                        <input type="text" class="form-control form-control-solid mb-2" name="name[]" placeholder="Item name"/>
                                                            </td>
    
                                    <td class="ps-0">                                            
                                        <input type="text" class="form-control form-control-solid" type="number" min="1" name="quantity[]" placeholder="1" value="1" data-kt-element="quantity"/>
                                    </td>
                                    <td class="ps-0">                                            
                                        <input type="text" class="form-control form-control-solid" type="text"  name="unit[]" placeholder="unit" value="" data-kt-element="unit"/>
                                    </td>
    
                                    <td>   
                                        <input type="text" class="form-control form-control-solid text-end" name="price[]" placeholder="0.00" value="0.00" data-kt-element="price"/>
                                    </td>
                                    
                                    <td class="pt-8 text-end text-nowrap">
                                        $<span data-kt-element="total">0.00</span>
                                    </td>
    
                                    <td class="pt-5 text-end">
                                        <button type="button" class="btn btn-sm btn-icon btn-active-color-primary" data-kt-element="remove-item">
                                            <i class="ki-duotone ki-trash fs-3"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span></i>                                    </button>                             
                                    </td>
                                </tr>
                                    {% endfor %}
                                          
                            </tbody>
                            <!--end::Table body-->
    
                            <!--begin::Table foot-->
                            <tfoot>
                                <tr class="border-top border-top-dashed align-top fs-6 fw-bold text-gray-700">
                                    <th class="text-primary">
                                        <button class="btn btn-primary py-1" data-kt-element="add-item">Add item</button>
                                    </th>  
    
                                    <th colspan="2" class=" ps-0">
                                        <div class="d-flex flex-column align-items-start">
                                            <div class="fs-5">Subtotal</div> 
                                        </div>
                                    </th> 
    
                                    <th colspan="2" class=" text-end">
                                        $<span data-kt-element="sub-total">0.00</span>
                                    </th> 
                                     
                                </tr>   
                                <tr class=" align-top fs-6 fw-bold text-gray-700">
                                    <th> <input type="text" class="form-control form-control-solid text-end" name="service_charge" placeholder="0.00" value="0.00" id="servicechargepercent" required /></th>  
    
                                    <th colspan="2" class="border-bottom border-bottom-dashed ps-0">
                                        <div class="d-flex flex-column align-items-start">
                                            <div class="fs-5">Service Charge</div> 
                                        </div>
                                    </th> 
    
                                    <th colspan="2" class="border-bottom border-bottom-dashed text-end">
                                        $<span data-kt-element="servicecharge">0.00</span>
                                    </th> 
                                     
                                </tr> 
                                <tr class=" align-top fs-6 fw-bold text-gray-700">
                                    <th> <input type="text" class="form-control form-control-solid text-end" name="tax" placeholder="0.00" value="0.00" data-kt-element="taxpercent" required /></th>  
    
                                    <th colspan="2" class="border-bottom border-bottom-dashed ps-0">
                                        <div class="d-flex flex-column align-items-start">
                                            <div class="fs-5">Tax</div> 
                                        </div>
                                    </th> 
    
                                    <th colspan="2" class="border-bottom border-bottom-dashed text-end">
                                        $<span data-kt-element="tax">0.00</span>
                                    </th> 
                                     
                                </tr>   
                                
                                <tr class="align-top fw-bold text-gray-700">
                                    <th></th>
                                    
                                    <th colspan="2" class="fs-4 ps-0">Total</th> 
    
                                    <th colspan="2" class="text-end fs-4 text-nowrap">
                                        $<span data-kt-element="grand-total">0.00</span>
                                    </th> 
                                </tr>          
                            </tfoot>
                            <!--end::Table foot-->
                        </table>
                    </div>  
                    <!--end::Table-->
    
                    <!--begin::Item template-->
                    <table class="table d-none" data-kt-element="item-template">
                        <tr class="border-bottom border-bottom-dashed" data-kt-element="item">
                            <td class="pe-7">                                            
                                <input type="text" class="form-control form-control-solid mb-2" name="name[]" placeholder="Item name"/>
                                                    </td>
    
                            <td class="ps-0">                                            
                                <input type="text" class="form-control form-control-solid" type="number" min="1" name="quantity[]" placeholder="1" data-kt-element="quantity"/>
                            </td>
                            <td class="ps-0">                                            
                                <input type="text" class="form-control form-control-solid" type="text"  name="unit[]" placeholder="unit" data-kt-element="unit"/>
                            </td>
    
                            <td>   
                                <input type="text" class="form-control form-control-solid text-end" name="price[]" placeholder="0.00" data-kt-element="price"/>
                            </td>
                            
                            <td class="pt-8 text-end">
                                $<span data-kt-element="total">0.00</span>
                            </td>
    
                            <td class="pt-5 text-end">
                                <button type="button" class="btn btn-sm btn-icon btn-active-color-primary" data-kt-element="remove-item">
                                    <i class="ki-duotone ki-trash fs-3"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span></i>                            </button>                             
                            </td>
                        </tr>
                    </table>
    
                    <table class="table d-none" data-kt-element="empty-template">
                        <tr data-kt-element="empty">
                            <th colspan="5" class="text-muted text-center py-10">
                                No items
                            </th>
                        </tr>
                    </table>
                    <!--end::Item template-->
    
                    <!--begin::Notes-->            
                    <div class="mb-5">
                        <label class="form-label fs-6 fw-bold text-gray-700">Notes</label>
    
                        <textarea name="notes" class="form-control form-control-solid" rows="3" placeholder="Thanks for your business"></textarea>
                    </div>                        
                    <!--end::Notes--> 
                </div>   

                <!--begin::Actions-->
            <div class="mb-0">
                <!--begin::Row-->
                <div class="row mb-5">
                    <!--begin::Col-->
                    <div class="col">
                        <button href="#" type="button" onclick="previewInvoice()"  class="btn btn-light btn-active-light-primary w-100">Preview</button>                
                    </div>   
                    <!--end::Col-->
    
                    <!--begin::Col-->
                    <div class="col">
                        <button type="submit" class="btn btn-primary w-100" id="kt_invoice_submit_button"><i class="ki-duotone ki-triangle fs-3"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>                Send Invoice
                        </button>
                                                            </div>  
                    <!--end::Col-->
                </div>   
                <!--end::Row-->
                
                
            </div>                
            <!--end::Actions-->  


                <!--end::Wrapper-->          
            </form>
            <!--end::Form-->
        </div>
        <!--end::Card body-->
    </div>     
    <!--end::Card-->         
        </div>  
        <!--end::Content-->
    
       
    </div>
    <!--end::Layout-->              </div>
            <!--end::Content container-->
        </div>
    <!--end::Content-->	
    
        </div>

<!--end::Content wrapper-->
  
{% endblock content %}

{% block inlinescript %}
<script>
    function previewInvoice() {
      // Get the form element
      var form = document.getElementById('kt_invoice_form');
  
      // Set the action attribute to the desired URL
      form.action = '{% url 'myadmin:preview-invoice' %}';
      form.target='_blank';
  
      // Submit the form
      form.submit();
      form.action='{% url 'myadmin:create-booking-invoice' booking.booking_id %}';
      form.target='_self';


    }

  </script>
  
<script> var hostUrl = "";   </script>
<script src="/static/myadmin/assets/js/custom/apps/invoices/mmcreate.js"></script>

{% endblock inlinescript %}